
/* own font-face */
@font-face
{
    font-family: 'default_font';
    src: url('fonts/square.eot');
    src: url('fonts/square.eot?#iefix') format('embedded-opentype'),
         url('fonts/square.woff') format('woff'),
         url('fonts/square.ttf') format('truetype'),
         url('fonts/square.svg#squarefontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* link style */
a
{
    color: white;
}
a:hover
{
    color: #C1DA0B;
}

/* text style */
font
{
    color: white;
    cursor: default;
    text-shadow:  1px  1px 6px black,
                  1px -1px 6px black,
                 -1px  1px 6px black,
                 -1px -1px 6px black;
}

/* header override */
.header
{
    text-shadow:  1px  1px 10px black,
                  1px -1px 10px black,
                 -1px  1px 10px black,
                 -1px -1px 10px black;
}

/* button override */
.button
{
    text-decoration: underline;
    cursor: pointer;
}
.button:hover
{
    color: #C1DA0B;
}

/* centered division */
.middle
{
    width: 640px;
    height: auto;
    left: 50%;
    margin: 0 0 0 -320px;
    text-align: center;
}

/* centered and side division */
.middle, .side
{
    font-family: default_font;
    position: absolute;
    opacity: 0.0;
    pointer-events: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}